.custom-smaller-text {
    font-size: 0.55rem;
  }

/* Estilo para telas menores que 330 pixels */
@media (max-width: 576px) {
  .custom-col {
      width: 100%; /* Ocupa a largura total da tela */  
      margin: 0 auto;    
      margin-bottom: 0.1em; /* Adapte conforme necessário */
  }
}
