*{
    margin: 0;
    padding: 0;
    
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body {
    background-color: #fff;
    color: #fff;
}

#cabecao {
  width: auto;
  background-color: black;
}

#sidemenu{
  width: auto;
}

.conteiner{
    border: none;
    padding: none;
    margin: none;
}

nav{
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: black;
    width: 100%;
    height: 105px;
    font-family: 'Inter', sans-serif;
}

.logo {
    height: 95px;
    padding-left: 516.5px;
}

nav ul li{
    display: inline-block;
    list-style: none;
    margin-right: 120px;
    margin-bottom: 0px;
    padding-left: 0px;
    margin-left: 0px;
}

nav ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    position: relative;
}

.Home{
    margin-right: 320px;
}

nav ul li a:hover {
    color: #FF1616; /* Altera a cor do texto quando o mouse passa sobre o link */
    transition: color 0.5s; /* Adiciona uma transição para suavizar a mudança de cor */
  }

nav ul li a:hover::after{
    width: 100%;
}
 
footer {
    background-color: black;
    color: #fff;
    padding: 20px 0;
    font-family: 'Lato', sans-serif;
    height: 270px;
    align-items: center;
  }
  
  .rodape-conteiner {
    display: flex;
    justify-content: center;
    max-width: 1200px;
    margin: 0 auto;
    align-items: center;
  }
  
  .rodape-secao {
    text-align: center;
    margin-right: 30px;
  }

  .rodape-secao li{
    text-align: left;
    margin-right: 100px;
  }

  .rodape-secao img{
    margin-left: 100px;
  }
  
  footer h3 {
    display: inline-block;
    font-size: 17px;
    text-transform: uppercase;
    margin-bottom: 15px;
  }
  
  footer a{
    color: #fff;
    text-decoration: none;
    
  }

  footer a:hover{
    color: #FF1616; /* Altera a cor do texto quando o mouse passa sobre o link */
    transition: color 0.5s; /* Adiciona uma transição para suavizar a mudança de cor */
  }

  ul {
    list-style: none;
    padding: 0;
  }
  
  li {
    margin: 10px 0;
  }
  
  .rodape-conteiner span {
    margin-right: 5px;
    font-size: 14px;
  }
  
  .imagem {
    max-height: 154px;
    width: auto;
    margin-top: 10px; /* Adiciona espaço acima da imagem */
  }

  .rodape-secao ul li i {
        font-size: 14px;
        vertical-align: middle;
        margin-right: 15px;
        padding-left: 12px;
        border-left: 4px solid #FF1616;
  }

  .rodape-secao ul li span {
    padding-bottom: 16px;
}

.torto{
  margin-top: 30px;
}

.menu-icon {
  display: none;
  cursor: pointer;
}

#carrossel{
  width: auto;
  height: 650px;
}

.empresa{
  background-color: black;
  justify-content: center;
  display: flex;
  font-family: 'Lato', sans-serif;
  vertical-align: center;
  font-size: 20px;
  color: #fff;
  font-weight: bold;
}

.empresa img{
  max-width: 101px;
  max-height: 101px;
}

#mapa {
  width: auto;
  height: auto;
}

#mapa iframe {
  width: 100%;
  max-height: 288px;
}

.localizacao{
  justify-content: center;
  display: flex;
  font-family: 'Lato', sans-serif;
  font-size: 32px;
  margin: 24px 0px;
  font-weight: 500;
}

p{
  text-align: right;
}

.whatsapp-icon {
    position: fixed;
    bottom: 20px; /* Distância do fundo da janela do navegador */
    right: 20px; /* Distância da borda direita da janela do navegador */
  }
  
  .whatsapp-icon img {
    width: 100px; /* Largura do ícone do WhatsApp */
    height: auto;
  }


@media screen and (max-width: 1800px) {
  .logo {
    height: 95px;
    padding-left: 330px;
  }
  
  .Home{
    margin-right: 320px;
  }
  
  nav ul li{
      display: inline-block;
      list-style: none;
      margin-right: 80px;
      margin-left: 50px;
  }
}

@media screen and (max-width: 1620px) {
  .logo {
    height: 95px;
    padding-left: 330px;
  }
  
  .Home{
    margin-right: 220px;
  }
  
  nav ul li{
      display: inline-block;
      list-style: none;
      margin-right: 80px;
      margin-left: 50px;
  }
}

@media screen and (max-width: 1450px) {
  .logo {
    height: 95px;
    padding-left: 230px;
  }
  
  .Home{
    margin-right: 220px;
  }
  
  nav ul li{
      display: inline-block;
      list-style: none;
      margin-right: 80px;
      margin-left: 50px;
  }
}

@media screen and (max-width: 1370px) {
  .logo {
    height: 95px;
    padding-left: 230px;
  }
  
  .Home{
    margin-right: 220px;
  }
  
  nav ul li{
      display: inline-block;
      list-style: none;
      margin-right: 50px;
      margin-left: 50px;
  }
}

@media screen and (max-width: 1230px) {
  .logo {
    height: 95px;
    padding-left: 150px;
  }
  
  .Home{
    margin-right: 180px;
  }
  
  nav ul li{
      display: inline-block;
      list-style: none;
      margin-right: 50px;
      margin-left: 50px;
  }
}

@media screen and (max-width: 1080px) {
  .logo {
    height: 95px;
    padding-left: 150px;
  }
  
  .Home{
    margin-right: 100px;
  }
  
  nav ul li{
      display: inline-block;
      list-style: none;
      margin-right: 50px;
      margin-left: 50px;
  }
}

@media screen and (max-width: 1000px) {
  .logo {
    height: 95px;
    padding-left: 100px;
  }
  
  .Home{
    margin-right: 100px;
  }
  
  nav ul li{
      display: inline-block;
      list-style: none;
      margin-right: 50px;
      margin-left: 50px;
  }
}

@media screen and (max-width: 950px) {
  .logo {
    height: 95px;
    padding-left: 100px;
  }
  
  .Home{
    margin-right: 50px;
  }
  
  nav ul li{
      display: inline-block;
      list-style: none;
      margin-right: 50px;
      margin-left: 50px;
  }
}

@media screen and (max-width: 930px) {
  .rodape-secao li{
    margin-right: 50px;
  }

  .rodape-secao img{
    margin-left: 50px;
  }

  #sidemenu {
    position: center;
    top: 60px;
    padding: 0%;
    margin: 0px;
    width: auto;
    background-color: black;
    text-align: center;
    align-items: center;
    justify-items: center;
}

.logo {
  height: 95px;
  padding-left: 30px;
}

.Home{
  margin-right: 0px;
}

nav ul li{
    display: inline-block;
    list-style: none;
    margin-right: 80px;
    margin-left: 50px;
}
}

@media screen and (max-width: 950px) {
  .logo {
    height: 95px;
    padding-left: 30px;
  }
  
  .Home{
    margin-right: 50px;
  }
  
  nav ul li{
      display: inline-block;
      list-style: none;
      margin-right: 50px;
      margin-left: 50px;
  }
}

@media screen and (max-width: 850px) {
  .logo {
    height: 95px;
    padding-left: 30px;
  }
  
  .Home{
    margin-right: 30px;
  }
  
  nav ul li{
      display: inline-block;
      list-style: none;
      margin-right: 50px;
      margin-left: 50px;
  }
}

@media screen and (max-width: 830px) {
  .rodape-secao li{
    margin-right: 30px;
  } 

  .rodape-secao img{
    margin-left: 30px;
  }
}

@media screen and (max-width: 806px) {
  .logo {
    height: 95px;
    padding-left: 10px;
  }
  
  .Home{
    margin-right: 10px;
  }
  
  nav ul li{
      display: inline-block;
      list-style: none;
      margin-right: 50px;
      margin-left: 50px;
  }
}

@media screen and (max-width: 720px) {
  .rodape-secao li{
    margin-right: 20px;
  }

  .rodape-secao img{
    margin-left: 20px;
  }
}

@media screen and (max-width: 686px) {
  .rodape-secao li{
    margin-right: 10px;
  }

  .rodape-secao img{
    margin-left: 10px;
  }
}

@media screen and (max-width: 657px) {
  .rodape-secao li{
    margin-right: 10px;
  }

  .rodape-secao img{
    display: none;
  }
}

@media screen and (max-width: 500px) {
  .rodape-secao li{
    margin-right: 10px;
  }

  .rodape-secao img{
    display: none;
  }

  .rodape-secao {
    text-align: center;
    margin-right: 20px;
  }
}

@media screen and (max-width: 463px) {
  .rodape-secao li{
    margin-right: 0px;
  }

  .rodape-secao img{
    display: none;
  }

  .rodape-secao ul li i {
    font-size: 14px;
    vertical-align: middle;
    margin-right: 5px;
    padding-left: 2px;
    border-left: 4px solid #FF1616;
}

.rodape-secao {
  text-align: center;
  margin-right: 20px;
}
}

@media screen and (max-width: 402px) {
  .rodape-secao li{
    margin-right: 0px;
  }

  .rodape-secao img{
    display: none;
  }

  .rodape-secao ul li i {
    font-size: 14px;
    vertical-align: middle;
    margin-right: 5px;
    padding-left: 2px;
    border-left: 4px solid #FF1616;
}

.rodape-secao {
  text-align: center;
  margin-right: 10px;
}
}

@media screen and (max-width: 373px) {
  .rodape-secao li{
    margin-right: 0px;
  }

  .rodape-secao img{
    display: none;
  }

  .rodape-secao ul li i {
    font-size: 14px;
    vertical-align: middle;
    margin-right: 2px;
    padding-left: 0px;
    border-left: 4px solid #FF1616;
}
}

@media screen and (max-width: 330px) {
  .rodape-secao li{
    margin-right: 0px;
  }

  .rodape-secao img{
    display: none;
  }

  .rodape-secao ul li i {
    font-size: 14px;
    vertical-align: middle;
    margin-right: 2px;
    padding-left: 0px;
    border-left: 4px solid #FF1616;
}

span {
  margin-right: 0%;
  font-size: 14px;
  white-space: pre-wrap;
}

.rodape-secao ul li i {
  vertical-align: middle; /* Ou outra propriedade de alinhamento vertical que funcione melhor para o seu design */
}

.rodape-secao {
  text-align: center;
  margin-right: 0px;
}
#sidemenu {
  display: none;
  position: absolute;
  top: 60px;
  left: 0;
  width: 100%;
  background-color: black;
  text-align: center;
}

.texto{
  word-break: break-word;
}

}

@media screen and (max-width: 768px) {
  .menu-icon {
      display: block;
      margin-right: 30px;
      color: #fff;
  }

  #sidemenu {
      display: none;
      position: absolute;
      top: 60px;
      left: 0;
      width: 100%;
      background-color: black;
      text-align: center;
      align-items: center;
  }

  #sidemenu.show {
      display: flex;
      flex-direction: column;
  }

  #sidemenu a {
      color: white;
      text-decoration: none;
      padding: 10px;
      display: block;
  }

  .Home{
    margin-right: 0px;
  }

  .conteiner {
    justify-content: center; /* Centraliza horizontalmente a logo na responsividade */
  }

  .logo {
    align-self: center;
    justify-content: center;
    padding-left: 30px; /* Centraliza horizontalmente apenas na responsividade */
  }
}